body {
  font-family: 'Open Sans', sans-serif;
  font-size: larger;
  font-weight: 300;
  margin: 0;
}

.bold {
  font-weight: 700;
}

button {
  all: unset;
}

#top-menu {
  display: flex;
  justify-content: flex-end;
  margin: 1em 1em 2em 1em;
  align-items: center;
}

#home-link {
  margin-right: auto;
  font-size: 1.2em;
  cursor: pointer;
}

#top-menu button {
  margin-left: 1em;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
}

#in-top-menu {
  display: none;
  margin-right: auto;
}

.social-links a {
  color: inherit;
  font-size: 1.3em;
  border: unset
}

.social-links a:hover, #home-link:hover {
  color: #4FAFA7;
  background-color: unset;
}

h1 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  margin-bottom: 1em;
  text-align: center;
  background-color: #cae7e4;
  padding: 2em;
}

h2 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  text-align: center;
}

.running-text {
  margin: 0 10%
}

a, button {
  text-decoration: none;
  color: inherit;
  border-bottom: 0.15em solid #4FAFA7;
}

a:hover, button:hover {
  background-color: lightgrey;
}

footer {
  margin: 3em 0 0 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: #eeeeee;
}

footer ul {
  text-align: center;
  list-style-type: none;
  padding-inline-start: unset;
}

footer li {
  margin-top: 0.5em;
}

#funded-by {
  margin-top: 1em;
  font-style: italic;
}

#footer-logos {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#footer-logos a {
  border: unset;
}

#footer-logos a:hover {
  background-color: unset;
}

.infobox {
  text-align: center;
  background-color: #eeeeee;
  display: flex;
}

.infobox > div {
  padding: 5%;
  border: 10px solid white;
  align-items: stretch;
  flex-basis: 100%;
}

#announcement {
  display: none;
  background-color: #f5dd98cc;
  border: 2px solid #ebbb32;
  padding: 2%;
  margin: 0 2% 5% 2%;
}

#announcement li {
  list-style:disclosure-closed;
}

.close {
  color: #ebbb32;
  margin-left: auto;
  font-weight: 700;
  cursor: pointer;
  display: block;
  text-align: right;
}

.infobox span {
  font-size: 2em;
  color: #4FAFA7;
}

@media (min-width: 700px) {
  body {
    font-size: x-large;
  }
  .social-links {
    display: none;
  }
  #in-top-menu {
    display: block;
  }
  #in-top-menu a {
    margin: 0 0.7em
  }

  footer ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  #footer-logos {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1em;
  }
}

@media (min-width: 1100px) {
  body {
    font-size: xx-large;
  }
  .running-text {
    margin: 0 20%
  }
  #top-menu {
    margin-bottom: 4em;
  }
  #infoboxes {
    flex-direction: row;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .infobox {
    flex-basis: 50%;
  }

  h1 { margin: 5% 0}
}

@media (min-width: 1500px) {
  #infoboxes, #announcement {
    margin-left: 15%;
    margin-right: 15%
  }
}
